@model IEnumerable<RecursosHumanos.Models.RegistroIngreso>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutM.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaSalida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdHorario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSalida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdHorario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRegistro">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRegistro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRegistro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
